{{! Renders the entire HTML page}}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{>layout/head}}
  </head>
  <body id="spectaql" class="spectaql-dark">
    {{>scripts/theme-script}}
    {{>layout/page}}
    {{>scripts/scroll-spy-script}}
    {{>scripts/code-copy-script}}
    {{>scripts/sidebar-search-script}}
    {{>scripts/mermaid-script}}
    {{>scripts/code-formatting-script}}
    {{>scripts/heading-anchor-script}}
  </body>
</html>
