<div id="introduction" data-traverse-target="introduction">
  {{#unless info.x-hideWelcome}}
    {{>layout/content/introduction/welcome}}
  {{/unless}}
  {{#unless (or info.x-hideIntroItems (empty info.x-introItems))}}
    {{#each info.x-introItems }}
      {{>layout/content/introduction/item parentIndex=@index}}
    {{/each}}
  {{/unless}}
</div>
